body {
  font-family: Arial, sans-serif;
  background: #d1d5db;
  padding: 20px;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #999;
  padding: 8px;
  text-align: center;
}

td.profit { color: green; }
td.loss { color: red; }

img {
  max-width: 60px;
  cursor: pointer;
}

.pie-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
}

.modal-content {
  display: block;
  max-width: 90%;
  margin: 5% auto;
}

.close {
  color: white;
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
}
